@font-face {
  font-family: "Antic";
  src: url("./Antic-Regular.ttf");
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: "BerkshireSwash";
  src: url("./BerkshireSwash-Regular.ttf");
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: "AnonymousPro";
  src: url("./AnonymousPro-Regular.ttf");
  font-weight: normal;
  font-size: normal;
}
