@import '~@mindshaft/jits/lib/scss/_theme_spacedust.scss';

:export {
  link: $blue;
}

@font-face {
  font-family: 'Sans';
  src: url('../../node_modules/@mindshaft/jits/assets/Cousine/Cousine-Regular.ttf');
}
@font-face {
  font-family: 'Sans-Italic';
  src: url('../../node_modules/@mindshaft/jits/assets/Cousine/Cousine-Italic.ttf');
}

@font-face {
  font-family: 'Sans-Bold';
  src: url('../../node_modules/@mindshaft/jits/assets/Cousine/Cousine-Bold.ttf');
}

@font-face {
  font-family: 'Sans-Bold-Italic';
  src: url('../../node_modules/@mindshaft/jits/assets/Cousine/Cousine-BoldItalic.ttf');
}

@font-face {
  font-family: 'Serif-Regular';
  src: url('../../node_modules/@mindshaft/jits/assets/IMFellGreatPrimer/IMFeGPrm28P.ttf');
}

@font-face {
  font-family: 'Serif-Italic';
  src: url('../../node_modules/@mindshaft/jits/assets/IMFellGreatPrimer/IMFeGPit28P.ttf');
}