@import './variables';

main.app {
  color: $main;
  width: 100%;
  height: 100%;
  font-family: 'Sans', 'monospace';

  ::selection {
    background: $bold; /* WebKit/Blink Browsers */
    color: $black;
  }
  ::-moz-selection {
    background: $bold; /* Gecko Browsers */
    color: $black;
  }
}
