@import './variables';

/**************/
/* Animations */
/**************/

@keyframes fly-up-burnout-1 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  33%{
    transform: translate(12px, -70px);
    opacity: 1;
  }
  66% {
    transform: translate(0, -140px);
    opacity: .6;
  }
  100% {
    transform: translate(6px, -200px);
    opacity: 0;
  }
}

@keyframes fly-up-burnout-2 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  50%{
    transform: translate(-10px, -80px);
    opacity: 1;
  }
  80% {
    transform: translate(-4px, -140px);
    opacity: .6;
  }
  100% {
    transform: translate(-6px, -160px);
    opacity: 0;
  }
}

.light {
  position: absolute;
  margin:auto;
  z-index: 3;
  right: 0;
  left: 0;
  margin: auto;
  width: 1px;
  bottom: 0;
  ul {
    li {
      opacity: 0;
      list-style: none;
      position: absolute;
      bottom: 46%;
      left: 15%;
      width: 3px;
      height: 3px;
      border-radius: 7px;
      background-color: fade-out($bright-red,.6);
      animation-name: fly-up-burnout-1;
      animation-duration: 6s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-delay: .4s;
      
      &:nth-of-type(2n) {
        animation-name: fly-up-burnout-2;
        animation-duration: 8.4s;
        animation-delay: 1s;
      }
      &:nth-of-type(3n) {
        animation-delay: 1.9s;
        animation-duration: 8s;
        left: 55%;
      }
      &:nth-of-type(4n) {
        animation-delay: 2.6s;
        animation-duration: 7s;
        left: 88%;
      }
      &:nth-of-type(5n) {
        animation-delay: 1.4s;
        animation-duration: 7s;
        left: 22%;
      }
      &:nth-of-type(6n) {
        animation-delay: 3.2s;
        left: 61%;
      }
      &:nth-of-type(7n) {
        animation-delay: .8s;
        animation-duration: 5s;
        left: 64%;
      }
      &:nth-of-type(8n) {
        animation-delay: 5s;
        left: 19%;
      }
      &:nth-of-type(9n) {
        animation-delay: 4s;
        animation-duration: 6.8s;
        left: 22%;
      }
      &:nth-of-type(10n) {
        animation-delay: 5.2s;
        left: 61%;
      }
      &:nth-of-type(11n) {
        animation-delay: 3.5s;
        animation-duration: 8s;
        left: 81%;
      }
      &:nth-of-type(12n) {
        animation-delay: 2s;
        left: 85%;
      }
    }
  }
}