@import './variables';
@import './mixins';

@mixin transitionShort($property...) {
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  transition-property: $property;
}


.link.highlighted, 
.link.highlighted button,
.link.highlighted a
{
  color: $bright;
  padding-right: 1.5rem;
  & label { font-family: 'Sans'; }
  div.tag { height: 50%; }
}

.link, .link button, .link a {
  @include transitionShort(all);
  & label { 
    font-family: 'Sans-Italic'; 
    position: relative;
  }
  text-transform: lowercase;
  color: $info;
  height: 100%;
  font-size: 3rem;
  line-height: 100%;
  padding-right: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  div.tag {
    @include transitionShort(all);
    height: 0;
    width: 100%;
    z-index: -1;
    background: $dark;
    position: absolute;
    bottom: 7px;
  }
}



.temporary-link {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
}