@import './variables';
@import './mixins';

@mixin transitionShort($property...) {
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  transition-property: $property;
}


.link.highlighted, 
.link.highlighted button,
.link.highlighted a
{
  padding-right: 1.5rem;
  font-family: 'Sans'; 
  color: $bold;
  &:hover  {
    text-decoration: none;
    color: $bold;
    &, &:hover > div > button {
      color: $bold;
    }
  }
}

.link, .link button, .link a {
  @include transitionShort(all);
  font-family: 'Sans-Italic'; 
  text-transform: lowercase;
  height: 100%;
  font-size: 3rem;
  line-height: 100%;
  padding-right: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  color: $bright;
  &:hover  {
    text-decoration: none;
    color: $bright;
    &, &:hover > div > button {
      color: $bright;
    }
  }
}


.temporary-link {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
}