@import './variables';
@import './mixins';

@mixin transitionShort($property...) {
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  transition-property: $property;
}


@include keyframes(wobble) {

}
.link.highlighted {
  @include transitionShort(all);
  color: $bright-red;
  margin-right: 1.5rem;
  font-family: 'Sans';
}

.link:not(.highlighted) {
  @include transitionShort(all);
  font-family: 'Sans-Italic';
}

.link {
  font-family: 'Sans-Italic';
  text-transform: lowercase;
  color: $info;
  height: 20%;
  font-size: 3rem;
  line-height: 20%;
  text-align: right;
  margin-right: 1rem;
  &:hover.highlighted {
    text-decoration: none;
    color: $bright-red;
  }
  &:hover:not(.highlighted) {
    text-decoration: none;
    color: $info;
  }
}