@import './variables';

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass {
  transition: height 0.3s, width 0.3s, margin 0.3s;
  z-index: 2;
  position: fixed;
  height: 0;
  width: 0;
  background: $bright;
  border-radius: 200px;
  opacity: 0.5;
}

.show {
  height: 200px;
  width: 200px;
  margin-top: -100px;
  margin-left: -100px;
}